*{
    Margin:0;
    Padding:0;
    Border:0;
    text-decoration: none;
    color: black;
    }

.main__header{
    margin: 10px;
    text-align: center;
}

.header__links{
    margin: 10px;
    text-align: center;
    padding-bottom: 50px;

}

.redlink{
    color: red;

}

.parent {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    }       

.mid{
    grid-row-start: 2;
    grid-row-end: 4;
    grid-row: 2;
}